:root {
  --color-black-100: #000028;
  --color-black-200: #353430;

  --color-purple-100: #db00ff;
  --color-purple-200: #ff0070;

  --color-pink-100: #fff1f7;
  --color-pink-200: #f1b2ce;
  --color-pink-300: #ffc2e6;
  --color-pink-400: #ff8dcb;
}
