.page.theme_dark {
  --brand-color: var(--color-purple-100, #db00ff);
  --accent-color: var(--color-purple-200, #ff0070);
  --secondary-color: var(--color-purple-200, #ff0070);
  --text-color: var(--color-pink-200, #f1b2ce);
  --highlight-color: var(--color-black-100, #000028);
  --hover-color: color-mix(in srgb, var(--color-black-100),  transparent 60%);

  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: var(--color-black-100, #000028);

  --header-decor-visibility-state: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color: var(--color-purple-100, #db00ff);
    --accent-color: var(--color-purple-200, #ff0070);
    --secondary-color: var(--color-purple-200, #ff0070);
    --text-color: var(--color-pink-200, #f1b2ce);
    --highlight-color: var(--color-black-100, #000028);
    --hover-color: color-mix(in srgb, var(--color-black-200),  transparent 60%);
  
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: var(--color-black-100, #000028);
  
    --header-decor-visibility-state: visible;
  }
}
