.page.theme_light {
  --brand-color: var(--color-pink-300, #ffc2e6);
  --accent-color: var(--color-pink-400, #ff8dcb);
  --secondary-color: var(--color-black-200, #353430);
  --text-color: var(--color-black-200, #353430);
  --highlight-color: var(--color-black-200, #353430);
  --hover-color: color-mix(in srgb, var(--secondary-color),  transparent 60%);

  --bg-image: url("../images/cover-image-light.png");
  --bg-color: var(--color-pink-100, #fff1f7);

  --header-decor-visibility-state: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --brand-color: var(--color-pink-300, #ffc2e6);
    --accent-color: var(--color-pink-400, #ff8dcb);
    --secondary-color: var(--color-black-200, #353430);
    --text-color: var(--color-black-200, #353430);
    --highlight-color: var(--color-black-200, #353430);
    --hover-color: color-mix(in srgb, var(--secondary-color),  transparent 60%);

    --bg-image: url("../images/cover-image-light.png");
    --bg-color: var(--color-pink-100, #fff1f7);
  
    --header-decor-visibility-state: hidden;
  }
}
