.page {
  font-family: var(--font-family, 'IBM Plex mono', 'Arial', monospace);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color, #f1b2ce);  
  background-image: var(--bg-image, url(../images/cover-image.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  margin: 0 auto;
}

.header {
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

@media (width >= 768px) {
  .header {
    padding-inline-start: 0;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before, .decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--secondary-color, #ff0070);
  border-block-start: 1px solid var(--secondary-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.header__decor {
  position: absolute;
  z-index: -1;
  visibility: var(--header-decor-visibility-state, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

@media (width >= 768px) {
  .header__decor {
    inset-block-start: 20px;
    inset-inline-end: 28px;
  }
}

.header__decor::before {
  content: "Rec";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
  text-transform: uppercase;
}

.header__decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 65px;
}

@media (width >= 768px) {
  .header__theme-menu {
    padding-top: 172px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-content: center;
    padding-top: 0;
    padding-left: clamp(10px, 0.0286rem + 2.5445vw, 20px);;
  }
}


.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--secondary-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border-color: color-mix(in srgb, var(--secondary-color),  transparent 60%);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.page-title {
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82%;
}

.page-title--header {
  margin-block-start: 65px; 
  margin-block-end: 60px; 

}

@media (width >= 768px) {
  .page-title--header {
    margin-block-start: 176px;
    margin-block-end: 160px;
  }
}

@media (width >= 1024px) {
  .page-title {
    font-size: 157px;
    font-weight: 700;
    line-height: 130px;
  }

  .page-title--header {
    margin-block-start: 275px;
    margin-block-end: 115px;
  }
}

.header__description {
  color: var(--highlight-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background-color: var(--accent-color, #ff0070);
  height: max-content;
}

@media (width >= 768px) {
  .header__description {
    margin-left: auto;
    max-width: 364px;
  }
}

@media (width >= 1024px) {
  .header__description {
    max-width: 490px;
  }
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

@media (width >= 768px) {
  .content {
    gap: 80px;
    padding: 60px 20px;
  }
}

.content-container {
  display: grid;
  gap: 20px;
}

.content-container--gallery {
  gap: 10px;
}

@media (width >= 768px) {
  .content-container {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .content-container--gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (width >= 1024px) {
  .content-container {
    column-gap: 30px;
  }
}



.title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.title-decorated {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
}

.title--how {
  margin-block-end: 20px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .articles-list--what {
    grid-column-start: span 2;
  }

  .articles-list--how {
    grid-column-start: 2;
  }
}

@media (width >= 1024px) {
  .articles-list--what {
    grid-template-columns: repeat(3, 1fr);
  }
}

.article {
  display: grid;
  gap: 9px;
}

@media (width >= 768px) {
  .article {
    gap: 10px;
  }
}
    

.link {
  text-decoration: none;
  position: relative;
}

.link:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.gallery-list {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-list__item:first-child,
  .gallery-list__item:last-child {
    grid-column-start: span 2;
  }

  .gallery-list__item:nth-child(2),
  .gallery-list__item:nth-child(3) {
    grid-row-start: span 2;
  }
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
  place-items: center;
}
